<div class="col-lg-12">
  <div class="row pb-4">
    <div class="col-lg-12">
      <h5>Component: <span class="badge badge-secondary">Data Bindings</span></h5>
      <hr/>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-lg-4">
      <div class="row">
        <div class="col">
          <input class="form-control" type="text" [(ngModel)]="name" (input)="onInput($event)"/>
        </div>
        <div class="col">
          <button class="btn btn-primary" [disabled]="!isButtonEnabled" (click)="onButtonClick($event)">Reset</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>{{name}}</p>
    </div>
  </div>
</div>
