<div class="container">
  <div class="row">
    <h2>Game control</h2>
    <app-game-control
      (numberReceived)="onNumberReceived($event)"
    ></app-game-control>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Odd</h2>
      <app-odd
        [number]="number"
        *ngFor="let number of oddNumbers"
      ></app-odd>
    </div>
    <div class="col-md-6">
      <h2>Even</h2>
      <app-even
        [number]="number"
        *ngFor="let number of evenNumbers"
      ></app-even>
    </div>
  </div>
</div>
